@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Test by Robin Rolin, this is an application for test, based on requirements for the JOB entity and CRUD operations.</p>
